* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html, body {
	width: 100%;
	box-sizing: border-box;
}

.f-col {
	display: flex;
	flex-direction: column;
}

.f-row {
	display: flex;
	flex-direction: row;
}

.wrapper {
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	position: relative;
	background: #000000;
	align-items: center;
	justify-content: flex-end;
}

.wrapper__gif {
	width: 70%;
	top: 0;
	display: flex;
	align-self: center;
	transform: translateY(-50%);
	position: absolute;
	z-index: 1;
}

.wrapper__content {
	width: 100%;
	padding: 0px 100px 150px 100px;
	justify-content: space-between;
	position: relative;
	z-index: 2;
	align-items: flex-start;
}

/* Content */

.content__text {
	font-family: 'Grabenbach';	
	color: #fff;
	font-size: 23px;
	line-height: 170%;

	&_bold {
		font-weight: 600;
	}

	&_bolder {
		font-weight: bolder;
	}

	&_bolder_it {
		font-weight: bolder;
		font-style: italic;
	}
}

.content__wrapper_align_center {
	background: url("../img/sitename.png");
	width: 112px;
	height: 112px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.content__wrapper_align_left {
	width: 320px;
}

.content__wrapper_align_right {
	width: 320px;
	.content__text {
		text-align: right;
	}
}

/* Adaptability */

/* <320px */

@media (max-width: 320px) {
	.wrapper__content {
		padding: 0;
		flex-direction: column;
		align-items: center;
	}

	.content__text {
		text-align: center;
		font-size: 20px;
	}

	.content__wrapper_align_right .content__text {
		text-align: center;
	}

	.content__wrapper_align_center {
		margin: 40px 0;
	}

	.wrapper {
		justify-content: center;
	}
}

/* 320px */

@media (min-width: 321px) and (max-width: 374px) {
	.wrapper__content {
		padding: 0;
		flex-direction: column;
		align-items: center;
	}

	.content__text {
		text-align: center;
		font-size: 20px;
	}

	.content__wrapper_align_right .content__text {
		text-align: center;
	}

	.content__wrapper_align_center {
		margin: 40px 0;
	}

	.wrapper {
		justify-content: center;
	}
}

/* 375px */

@media (min-width: 375px) and (max-width: 479px) {
	.wrapper__content {
		padding: 0;
		flex-direction: column;
		align-items: center;
	}

	.content__text {
		text-align: center;
		font-size: 20px;
	}

	.content__wrapper_align_right .content__text {
		text-align: center;
	}

	.content__wrapper_align_center {
		margin: 40px 0;
	}

	.wrapper__gif {
		width: 60%;
	}

	.wrapper {
		justify-content: center;
	}
}

/* 480px */

@media (min-width: 480px) and (max-width: 767px) {
	.wrapper__content {
		padding: 0;
		flex-direction: column;
		align-items: center;
	}

	.content__text {
		text-align: center;
		font-size: 20px;
	}

	.content__wrapper_align_right .content__text {
		text-align: center;
	}

	.content__wrapper_align_center {
		margin: 40px 0;
	}

	.wrapper__gif {
		width: 40%;
	}

	.wrapper {
		justify-content: center;
	}
}

/* 768px */

@media (min-width: 768px) and (max-width: 991px) {
	.wrapper__content {
		padding: 0px 50px 100px 50px;
	}

	.content__text {
		font-size: 20px;
	}
}

/* 992px */

@media (min-width: 992px) and (max-width: 1279px) {
	.wrapper__content {
		padding: 0px 50px 100px 50px;
	}

}

/* 1280px */

@media (min-width: 1280px) and (max-width: 1359px) {
	.wrapper__content {
		padding: 0px 50px 100px 50px;
	}
}

/* 1700px */

@media (min-width: 1720px) {
	.content__text {
		font-size: 30px;
	}

	.content__wrapper_align_left {
		width: 450px;
	}

	.content__wrapper_align_right {
		width: 450px;
	}

	.wrapper__content {
		padding-bottom: 250px;
	}
}

/* Fonts */

@font-face { 
	font-family: "Grabenbach"; 
	src: url("../fonts/grabenbach/grabenbach_black.otf") format("opentype"); 
	font-style: normal; 
	font-weight: 800; 
} 

@font-face { 
	font-family: "Grabenbach"; 
	src: url("../fonts/grabenbach/grabenbach_regular.otf") format("opentype"); 
	font-style: normal; 
	font-weight: 400; 
} 

@font-face { 
	font-family: "Grabenbach"; 
	src: url("../fonts/grabenbach/grabenbach_black_it.otf") format("opentype"); 
	font-style: italic; 
	font-weight: 800; 
} 

@font-face { 
	font-family: "Grabenbach"; 
	src: url("../fonts/grabenbach/grabenbach_italic.otf") format("opentype"); 
	font-style: italic; 
	font-weight: 400; 
} 

@font-face { 
	font-family: "Grabenbach"; 
	src: url("../fonts/grabenbach/grabenbach_bold.otf") format("opentype"); 
	font-style: normal; 
	font-weight: 600; 
} 